.battle {
  background: black;
  color: white;
}

.battle-hud {
  height: 15vh;
}

.battle-field {
  display: flex;
  height: 60vh;
}

.battle-status {
  height: 25vh;
}

.battle-field-left,
.battle-field-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle-field-right {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10%;
}
